{% extends "Layout.html" %} {% block content %}
<h1>Lager database</h1>
<h3>Søg efter Kategori</h3>
<div class="btn-group">
  <button>Kolonial</button>
  <button>Mejeri</button>
  <button>Kød</button>
</div>
<table id="table" class="sortable">
  <!--Sortable gør at vi kan sortere kolonne ovreskrifter -->
  <thead>
      <tr>
            <!--Overskrift på tabel kolonnerne -->
            <th>Produkt</th>
            <th>Stregkode</th>
            <th>GTIN</th>
            <th>Dato</th>
            <th>Datotype</th>
            <th>Batch</th>
            <th>Kategori</th>
            <th>Antal</th>
            <th>Pris</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for item in all_data%}<!--For loop lavet i jinja. Går igennem hver item i all_data og splitter items op til de rigtige celler. All_data er en tuple bestående af tupler. Disse tupler som den består af er de items der bliver opdelt
            og sat ind i cellerne. Så hver gang den køre forloopet bliver den næste tuple taget i all_data, opdelt og sat ind på de rigtige celler i rækken.-->
            <tr class="item p-row" onclick="openForm()">
                <td class="name">{{item[1]}}</td> <!-- Produkt navn  -->
                <td class="barcode">{{item[0]}}</td> <!-- Stregkode -->
                <td>{{item[2]}}</td> <!-- GTIN -->
                <td>{{item[4]}}</td> <!-- Dato -->
                <td>{{item[5]}}</td> <!-- Datotype -->
                <td>{{item[6]}}</td> <!-- Batch -->
                <td>{{item[7]}}</td> <!-- Kategori -->
                <td>{{item[9]}}</td> <!-- Antal -->
                <td class="price" data-price="{{item[8]}}">{{item[8]}}</td> <!-- Pris -->
                {% if item[3]-var == 0 %} <!-- Status -->
                <td class="under-limit"></td>
                {% elif item[9]/(item[3]-var) <= 0 %}
                <td class="under-limit"></td>
                {% elif item[9]/(item[3]-var) > 1%}
                <td class="close-limit"></td>
                {% else %}
                <td class="over-limit"></td>
                {% endif %}
            </tr>
        {%endfor%}
    </tbody>
    </table>
  <div class="form-popup" id="myForm">
    <!-- popop vindue til rettelse a pris -->
    <form action="/db" class="form-container" method="post">
        <h1 for="item" ></h1>
        <h2 for="barcode"></h2>
        <label for="pris"><b>Sæt ny pris: </b></label>
        
        <div class="btn-gr">
            <input type="text" placeholder="pris" name="price" required />'
            <input type="hidden" name="barcode" hidden />
            <button type="submit" class="btn">Accepter</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </div>
        
    </form>
  </div>
  <script type="text/javascript">
    const row = document.querySelectorAll(".p-row");


    function sendToForm(data,name,barcode) {
      // Send data to form and edit the price
      document.getElementsByName('price')[0].placeholder = "Nuværende pris " + data;
      document.querySelector('input[name="price"]').value = null;
      document.querySelector('input[name="barcode"]').value = barcode;
      document.body.querySelector("h1[for='item']").innerHTML = name;
      document.body.querySelector("h2[for='barcode']").innerHTML = barcode;
    }

    row.forEach((element) => {
        element.addEventListener("click", (e) => {
            const price = element.querySelector(".price");
            const value = price.getAttribute("data-price");
            const name = element.querySelector(".name").innerHTML;
            const barcode = element.querySelector(".barcode").innerHTML;
            sendToForm(value,name,barcode);
        });
     });
    </script>

    <script>
    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }
    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
    </script>
    
    {% endblock %}

