{% extends "Layout.html" %}
{% block content %}
<h1>Notifikationer</h1> <!--Overskrift på tabel kolonnerne -->
        {% if sort_data != 0 %}
            <table id="udløb" class="sortable">
                <h2 id="udløb">Varer tæt på udløb</h2>
                <tr>
                    <th>Produkt</th>
                    <th>Stregkode</th>
                    <th>GTIN</th>
                    <th>Dato</th>
                    <th>Datotype</th>
                    <th>Batch</th>
                    <th>Kategori</th>
                    <th>Antal</th>
                    <th>Pris</th>
                    <th>Status</th>
                </tr>
            <tbody>
        {%for item in sort_data%}   <!--For loop lavet i jinja. Går igennem hver item i sort data og splitter items op til de rigtige celler. sort_data variablen er en tuple som består af tupler.--> 
            {% if item[3]-var == 0 %}
            <tr class="item p-row" onclick="openForm()"> <!-- Giver hver row nogle classes og laver en onclick som køre en funktion -->
                <td class="name">{{item[1]}}</td> <!-- Produkt navn  -->
                <td class="barcode">{{item[0]}}</td> <!-- Stregkode -->
                <td>{{item[2]}}</td> <!-- GTIN -->
                <td>{{item[4]}}</td> <!-- Dato -->
                <td>{{item[5]}}</td> <!-- Datotype -->
                <td>{{item[6]}}</td> <!-- Batch -->
                <td>{{item[7]}}</td> <!-- Kategori -->
                <td>{{item[9]}}</td> <!-- Antal -->
                <td class="price" data-price="{{item[8]}}">{{item[8]}}</td> <!-- Pris -->
                {% if item[3]-var == 0 %} <!-- Status -->
                <td class="under-limit"></td>
                {% elif item[9]/(item[3]-var) <= 0 %}
                <td class="under-limit"></td>
                {% elif item[9]/(item[3]-var) > 1%}
                <td class="close-limit"></td>
                {% else %}
                <td class="over-limit"></td>
                {% endif %}
            </tr> 
            {% elif item[9]/(item[3]-var) <= 0 %}   
            <tr class="item p-row" onclick="openForm()"> <!-- Giver hver row nogle classes og laver en onclick som køre en funktion -->
                <td class="name">{{item[1]}}</td> <!-- Produkt navn  -->
                <td class="barcode">{{item[0]}}</td> <!-- Stregkode -->
                <td>{{item[2]}}</td> <!-- GTIN -->
                <td>{{item[4]}}</td> <!-- Dato -->
                <td>{{item[5]}}</td> <!-- Datotype -->
                <td>{{item[6]}}</td> <!-- Batch -->
                <td>{{item[7]}}</td> <!-- Kategori -->
                <td>{{item[9]}}</td> <!-- Antal -->
                <td class="price" data-price="{{item[8]}}">{{item[8]}}</td> <!-- Pris -->
                {% if item[3]-var == 0 %} <!-- Status -->
                <td class="under-limit"></td>
                {% elif item[9]/(item[3]-var) <= 0 %}
                <td class="under-limit"></td>
                {% elif item[9]/(item[3]-var) > 1%}
                <td class="close-limit"></td>
                {% else %}
                <td class="over-limit"></td>
                {% endif %}
            </tr> 
            {% elif item[9]/(item[3]-var) > 1 %}
            <tr class="item p-row" onclick="openForm()"> <!-- Giver hver row nogle classes og laver en onclick som køre en funktion -->
                <td class="name">{{item[1]}}</td> <!-- Produkt navn  -->
                <td class="barcode">{{item[0]}}</td> <!-- Stregkode -->
                <td>{{item[2]}}</td> <!-- GTIN -->
                <td>{{item[4]}}</td> <!-- Dato -->
                <td>{{item[5]}}</td> <!-- Datotype -->
                <td>{{item[6]}}</td> <!-- Batch -->
                <td>{{item[7]}}</td> <!-- Kategori -->
                <td>{{item[9]}}</td> <!-- Antal -->
                <td class="price" data-price="{{item[8]}}">{{item[8]}}</td> <!-- Pris -->
                {% if item[3]-var == 0 %} <!-- Status -->
                <td class="under-limit"></td>
                {% elif item[9]/(item[3]-var) <= 0 %}
                <td class="under-limit"></td>
                {% elif item[9]/(item[3]-var) > 1%}
                <td class="close-limit"></td>
                {% else %}
                <td class="over-limit"></td>
                {% endif %}
            </tr>
            {%endif%}
        {%endfor%}
        {%endif%}
        {% if batch != 0 %}
        <table class="sortable">  <!--Sortable gør at vi kan sortere kolonne ovreskrifter -->
            <h2 id="tilbagekald">Tilbagekalds vare</h2>
            <tr> <!--Overskrift på tabel kolonnerne -->
                <th>Produkt</th>
                <th>Stregkode</th>
                <th>GTIN</th>
                <th>Dato</th>
                <th>Datotype</th>
                <th>Batch</th>
                <th>Kategori</th>
                <th>Antal</th>
                <th>Pris</th>
                <th>Årsag</th>
            </tr>
        {% for item in batch%}<!--For loop lavet i jinja. Går igennem hver item i all_data og splitter items op til de rigtige celler. All_data er en tuple bestående af tupler. Disse tupler som den består af er de items der bliver opdelt
        og sat ind i cellerne. Så hver gang den køre forloopet bliver den næste tuple taget i all_data, opdelt og sat ind på de rigtige celler i rækken.-->  
        <tr class="item" > 
            <td>{{item[1]}}</th>
            <td>{{item[0]}}</th>   
            <td>{{item[2]}}</td> <!-- GTIN -->
            <td>{{item[4]}}</td> <!-- Dato -->
            <td>{{item[5]}}</td> <!-- Datotype -->
            <td>{{item[6]}}</td> <!-- Batch -->
            <td>{{item[7]}}</td> <!-- Kategori -->
            <td>{{item[9]}}</td> <!-- Antal -->
            <td>{{item[8]}}</th>
            <td>{{item[10]}}</th>
        </tr>
        {%endfor%}
        {%endif%}
    </tbody>
</table>
    <!-- popop vindue til rettelse a pris -->

    <div class="form-popup" id="myForm">
        <!-- popop vindue til rettelse a pris -->
        <form action="/forside" class="form-container" method="post">
            <h1 for="item" ></h1>
            <h2 for="barcode"></h2>
            <label for="pris"><b>Sæt ny pris: </b></label>
            
            <div class="btn-gr">
                <input type="text" placeholder="pris" name="price" required />'
                <input type="hidden" name="barcode" hidden />
                <button type="submit" class="btn">Accepter</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            </div>
            
        </form>
      </div>
      <script type="text/javascript">
        const row = document.querySelectorAll(".p-row");
    
    
        function sendToForm(data,name,barcode) {
          // Sender informationen fra rækken over til pop op vinduet
          document.getElementsByName('price')[0].placeholder = "Nuværende pris " + data;
          document.querySelector('input[name="price"]').value = null;
          document.querySelector('input[name="barcode"]').value = barcode;
          document.body.querySelector("h1[for='item']").innerHTML = name;
          document.body.querySelector("h2[for='barcode']").innerHTML = barcode;
        }
    
        row.forEach((element) => {
            // Lytter på hver row efter clicks
            element.addEventListener("click", (e) => {
                //Hvis der bliver clicket trækker den information ud af rækken
                const price = element.querySelector(".price");
                const value = price.getAttribute("data-price");
                const name = element.querySelector(".name").innerHTML;
                const barcode = element.querySelector(".barcode").innerHTML;
                sendToForm(value,name,barcode);
            });
         });
        </script>
    
        <script>
            //Funktioner til at åbne og lukke pop up vinduet(om det er hidden er ej)
        function openForm() {
          document.getElementById("myForm").style.display = "block";
        }
        function closeForm() {
          document.getElementById("myForm").style.display = "none";
        }
        </script>
        
        {% endblock %}




  